{% extends "news_base.html" %}
{% load humanize i18n comments %}

{% block page_title %}{% trans "News" %}{% endblock %}

{% block title %}<h1>{% trans "News" %} <small>{% trans "News & Updates" %}</small></h1>{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/maui.news.css" type="text/css">
{% endblock %}

{% block main %}
	{% if tag %}
		<div class="alert alert-info">{% blocktrans %}Below you can read the news with the &quot;{{ tag }}&quot; tag.{% endblocktrans %}</div>
	{% endif %}

	{% if news.paginator.count %}
		{% for news_obj in news.object_list %}
			<div class="news-item">
				<h4 class="title"><a href="{{ news_obj.get_absolute_url }}">{{ news_obj.title }}</a></h4>

				{{ news_obj.body|safe|truncatewords:words }}

				<ul class="inline muted" style="font-size: 80%;">
					<li><i class="icon-calendar"></i> <span class="visible-desktop">{% trans "Created:" %}</span> {{ news_obj.created_at|naturaltime }}</li>
					<li><i class="icon-user"></i> <span class="visible-desktop">{% trans "By:" %}</span> {{ news_obj.user.get_full_name }}</li>
					<li><i class="icon-tags"></i> <span class="visible-desktop">{% trans "Tags:" %}</span>
						{% for curtag in news_obj.tags.all %}
							<a href="{% url news_tags tag=curtag.name %}">{{ curtag.name }}</a>
						{% endfor %}
					</li>
				</ul>

				{% get_comment_count for news_obj as comment_count %}
				<ul class="inline">
					<li><a href="{{ news_obj.get_absolute_url }}" class="btn btn-mini"><i class="icon-circle-arrow-right"></i> {% trans "Read More" %}</a></li>
					<li><a href="" class="btn btn-mini"><i class="icon-comment"></i> {% blocktrans %}{{ comment_count }} Comments{% endblocktrans %}</a></li>
				</ul>
			</div>
		{% endfor %}

		<div class="pagination pagination-centered">
			<ul>
				<li{% if not news.has_previous %} class="disabled"{% endif %}><a href="{% url list_news page=news.previous_page_number %}">&laquo;</a></li>
				{% if news.has_other_pages %}
					{% for number in news.paginator.page_range %}
						{% ifequal number news.number %}
							<li class="active"><a href="{% url list_news page=number %}">{{ number }}</a></li>
						{% else %}
							<li><a href="{% url list_news page=number %}">{{ number }}</a></li>
						{% endifequal %}
					{% endfor %}
				{% endif %}
				<li{% if not news.has_next %} class="disabled"{% endif %}><a href="{% url list_news page=news.next_page_number %}">&raquo;</a></li>
			</ul>
		</div>
	{% else %}
		<p class="info">{% trans "No news published so far." %}</p>
	{% endif %}
{% endblock %}
