Django==1.4.1
pil
south
django-debug-toolbar
django-cms
django-tinymce
django-reversion
django-gravatar
django-registration
django-taggit
django-propaganda
Markdown
cmsplugin-markdown
django_compressor
