{% extends "registration/base.html" %}

{% load i18n gravatar %}

{% block meta_title %}{% blocktrans with name=request.user.username %}{{ name }}'s profile{% endblocktrans %}{% endblock %}

{% block extra_css %}
	<link href="{{ STATIC_URL }}css/bootstrap-editable.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}css/bootstrapSwitch.css" rel="stylesheet">
{% endblock %}
{% block extra_js %}
	<script src="{{ STATIC_URL }}js/moment.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-editable.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrapSwitch.js"></script>
	<script type="text/javascript">
		function getCookie(name) {
			var cookieValue = null;

			if (document.cookie && document.cookie != "") {
				var cookies = document.cookie.split(";");
				for (var i = 0; i < cookies.length; i++) {
					var cookie = jQuery.trim(cookies[i]);

					// Does this cookie string begin with the name we want?
					if (cookie.substring(0, name.length + 1) == (name + "=")) {
						cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
						break;
					}
				}
			}

			return cookieValue;
		}

		function csrfSafeMethod(method) {
			// These HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		$(function() {
			var csrftoken = getCookie("csrftoken");

			$.ajaxSetup({
				crossDomain: false, // obviates need for sameOrigin test
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type)) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});

			$.fn.editable.defaults.mode = "inline";

			$(".editable").editable({
				pk: "{{ request.user.pk }}",
				url: "{% url auth_edit_profile %}"
			});

			$("#receive_updates_switch").on("switch-change", function(e, d) {
				$("form .control-group").removeClass("error");
				$("form .control-group .editable-error-block").remove();

				var data = {
					pk: "{{ request.user.pk }}",
					name: "receive_updates",
					value: d.value
				};

				$.ajax({
					type: "POST",
					url: "{% url auth_edit_profile %}",
					data: data,
					dataType: "text"
				}).fail(function(xhr, textStatus, errorThrown) {
					$("form .control-group").addClass("error");
					$("form .control-group").append(
						'<div class="editable-error-block help-block" style="display: block;">'
							+ xhr.responseText + '</div>');
				});
			});
		});
	</script>
{% endblock %}

{% block title %}
	<h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span10">
				<table class="table table-bordered table-striped table-condensed">
					<tbody>
						<tr>
							<th>{% trans "Username" %}</th>
							<td>{{ request.user.username }}</td>
						</tr>
						<tr>
							<th>{% trans "Email Address" %}</th>
							<td>{{ request.user.email }}</td>
						</tr>
						<tr>
							<th>{% trans "First Name" %}</th>
							<td>
								<a href="#" class="editable editable-click" id="first_name" data-type="text" data-original-title="{% trans "Enter first name" %}">{{ request.user.first_name }}</a>
							</td>
						</tr>
						<tr>
							<th>{% trans "Last Name" %}</th>
							<td>
								<a href="#" class="editable editable-click" id="last_name" data-type="text" data-original-title="{% trans "Enter last name" %}">{{ request.user.last_name }}</a>
							</td>
						</tr>
						<tr>
							<th>{% trans "Date of Birth" %}</th>
							<td>
								<a href="#" class="editable editable-click" id="date_of_birth" data-type="date" data-viewformat="mm/dd/yyyy" data-original-title="{% trans "Select date of birth" %}">{{ request.user.get_profile.date_of_birth|date:"m/d/Y" }}</a>
							</td>
						</tr>
						<tr>
							<th>{% trans "Gender" %}</th>
							<td>
								<a href="#" class="editable editable-click" id="gender" data-type="select" data-value="{{ request.user.get_profile.gender }}" data-source="[{value: '', text: '{% trans "not selected" %}'}, {value: 'M', text: '{% trans "Male" %}'}, {value: 'F', text: '{% trans "Female" %}'}]" data-original-title="{% trans "Select gender" %}">{{ request.user.get_profile.get_gender_display }}</a>
							</td>
						</tr>
						<tr>
							<th>{% trans "Joined Since" %}</th>
							<td>{{ request.user.date_joined|date:"SHORT_DATETIME_FORMAT" }}</td>
						</tr>
						<tr>
							<th>{% trans "Last Login" %}</th>
							<td>{{ request.user.last_login|date:"SHORT_DATETIME_FORMAT" }}</td>
						</tr>
						<tr>
							<td colspan="2">
								<form class="form-inline">
									<div class="control-group">
										<div id="receive_updates_switch" class="switch switch-small"
										     data-on-label="<i class='icon-ok icon-white'></i>"
										     data-off-label="<i class='icon-remove'></i>">
											<input type="checkbox" {% if request.user.get_profile.receive_updates %}checked="checked"{% endif %}>
										</div>
										<label for="receive_updates_switch">{% trans "Receive updates from this Web site" %}</label>
									</div>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="span2">
				<img class="thumbnail pull-right" src="{% gravatar_for_user request.user 128 %}" alt="{% trans "Profile picture" %}"
					 rel="tooltip" title="{% trans "Your picture" %}">

				<div class="btn-toolbar">
					<div class="btn-group">
						<a href="{% url auth_password_change %}" rel="tooltip" class="btn"
						   title="{% trans "Change your password" %}">{% trans "Change Password" %}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
